header{
    position: sticky;
    top: 0;
    z-index: 1000;
    /*background-color: #1e1e1e;*/
    background-color: #101113;
    height:45px;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
}

.btns{
    font-family: "Google Sans Flex", sans-serif;
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 300;
}

.navText{
    font-family: "Google Sans Flex", sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    padding-left: 10px;
}

.navText:visited{
    color: white;
}